In [1]:
import pandas as pd
import random
from datetime import datetime, timedelta

In [5]:
# Função para gerar uma lista de CPFs únicos
def gerar_lista_cpfs_unicos(n):
    cpfs_unicos = set()
    while len(cpfs_unicos) < n:
        cpf = [random.randint(0, 9) for _ in range(9)]
    
        # Calculando os dígitos verificadores
        s = sum(x * y for x, y in zip(cpf, range(10, 1, -1)))
        d1 = (s * 10) % 11
        cpf.append(d1 if d1 < 10 else 0)
        
        s = sum(x * y for x, y in zip(cpf, range(11, 1, -1)))
        d2 = (s * 10) % 11
        cpf.append(d2 if d2 < 10 else 0)
        
        # Formatar o CPF
        cpf_str = ''.join(map(str, cpf))
        cpf_formatado = f"{cpf_str[:3]}.{cpf_str[3:6]}.{cpf_str[6:9]}-{cpf_str[9:]}"
        
        cpfs_unicos.add(cpf_formatado)
    
    return list(cpfs_unicos)

In [8]:


# Lista de nomes e sobrenomes fictícios
nomes = ['João', 'Marcelo','Maria', 'Pedro', 'Ana', 'José', 'Irani', 'Carlos', 'Rosimeri', 'Gabriel', 'Priscila', 'Igor', 'Leticia', 'Telma', 'Noemi', 'Alexandre', 'Daniel', 'Gloria', 'Fatima', 'Augusto', 'Samuel']
sobrenomes = ['Silva', 'Prenda','Santos', 'Oliveira', 'Souza', 'Costa', 'Pereira', 'Rodrigues', 'Cristina', 'Cunha', 'Ferreira',"Sant' Anna", 'Maia', 'Albernaz','Matos'] 

# Criando a lista de CPFs únicos
cpfs_unicos = gerar_lista_cpfs_unicos(1000000)

# Criando a base de dados
dados = []
for _ in range(1000000):
    nome = random.choice(nomes) + ' ' + random.choice(sobrenomes) + ' ' + random.choice(sobrenomes)
    idade = random.randint(18, 80)
    valor_emprestimo = random.randint(20000, 150000)
    cpf = cpfs_unicos.pop()
    dados.append([nome, idade, valor_emprestimo, cpf])

# Criando o DataFrame com os dados
df = pd.DataFrame(dados, columns=['NOME', 'IDADE', 'VALOR_EMPRESTIMO', 'CPF'])

In [9]:
# Criando a coluna de datas
data_atual = datetime.now()
primeiro_dia_mes_atual = data_atual.replace(day=1)
datas = [primeiro_dia_mes_atual + timedelta(days=random.randint(0, (data_atual - primeiro_dia_mes_atual).days)) for _ in range(len(df))]
df['DATA'] = datas
df['DATA'] = df['DATA'].dt.date

In [10]:
prazos_anos = [random.randint(1, 10) for _ in range(len(df))]

# Convertendo os prazos de anos para meses
prazos_meses = [ano * 12 for ano in prazos_anos]

# Adicionando a coluna de prazos em meses ao DataFrame
df['PRAZO'] = prazos_meses

In [11]:
# Filtrar apenas as linhas com CPFs duplicados
df_duplicados = df[df.duplicated(subset='CPF', keep=False)]
df_duplicados.shape[0]

0

In [12]:
df['PARCELA'] = ((df['VALOR_EMPRESTIMO'] * 0.0097 * df['PRAZO'] + df['VALOR_EMPRESTIMO']).round(2) / df['PRAZO']).round(2)

In [13]:
df

,NOME,IDADE,VALOR_EMPRESTIMO,CPF,DATA,PRAZO,PARCELA
0,Pedro Ferreira Pereira,74,66081,428.238.962-10,2024-05-27,36,2476.57
1,Leticia Silva Costa,68,31717,673.423.450-91,2024-05-24,48,968.43
2,Igor Prenda Maia,22,93543,645.610.127-10,2024-05-06,84,2020.97
3,Gabriel Maia Maia,28,102923,598.124.083-04,2024-05-19,36,3857.33
4,Priscila Ferreira Pereira,57,99385,707.211.713-03,2024-05-01,120,1792.24
...,...,...,...,...,...,...,...
999995,Samuel Cristina Cunha,39,59283,322.079.465-33,2024-05-04,72,1398.42
999996,Maria Costa Santos,77,23487,475.923.611-24,2024-05-08,96,472.48
999997,João Santos Pereira,38,102907,180.520.663-01,2024-05-01,84,2223.28
999998,Augusto Cristina Santos,26,27243,325.357.804-61,2024-05-27,96,548.04
999999,Ana Maia Albernaz,37,53923,316.652.772-97,2024-05-18,108,1022.34